**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
tfplan
tfplan-destroy
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform/.build/

.smoke/

__pycache__/
*.pyc

.DS_Store
Thumbs.db
.vscode/
.idea/

*.pem
*.key
.env
.env.*
